.line {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	margin-bottom: 80px;
	gap: 38px;
	font-size: 32px;
}

.line:first-of-type {
	margin-top: 79px;
}

.smallLine {
	font-size: 24px !important;
	margin-bottom: 68px !important;
}

.smallFontSize {
	font-size: 24px;
}

.smallNameWidth {
	width: 250px !important;
}

.firstLineName {
	width: 300px;
}

.text {
	font-family: 'DM Mono';
	font-weight: 400;
}
