.colorfulBox {
	font-family: 'DM Mono';
	position: relative;
	display: flex;
	background: #e2f3ff;
	border-radius: 12px;
	padding: 20px;
	font-size: 32px;
}

.note {
	position: absolute;
	left: 0;
	top: -8px;
	transform: translateY(-100%);
	color: #696969;
	font-size: 14px;
	font-weight: 500;
	margin-bottom: 8px;
}

.content {
	font-weight: 500;
	color: #000000;
	margin-right: 20px;
}

.dropdown {
	margin-left: auto;
}
